body{
    font-family: Arial, sans-serif;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th{
    background-color: rgb(255, 255, 255);
}

input[type="number"] { 
width:60px
}

button {
    background-color: aquamarine;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}